<b>Next steps</b><br>
1. Log into your Jenkins instance.<br>
2. Make sure the Jenkins Artifactory Plugin is installed.<br>
3. Make sure the go client is included in the Jenkins agent's PATH.<br>
4. Configure your JFrog Platform details in <b>Manage Jenkins | Configure System</b>.<br>
5. Replace the in the Jenkinsfile template JFROG_INSTANCE with the ID of the JFrog Platform instance you configured.<br>
6. Push the Jenkinsfile to the root of your git project.<br>
7. Create a Pipelines Jenkins job which uses the Jenkinsfile.<br>
<br>
<b>Additional information</b><br>
The CI templates are hosted in the <a href="https://github.com/jfrog/jfrog-ci-templates" target="_blank">github.com/jfrog/jfrog-ci-templates</a> repository.<br>
More Jenkins pipeline examples are available <a href="https://github.com/jfrog/project-examples/tree/master/jenkins-examples/pipeline-examples" target="_blank">here</a>.<br>
Read more about the Jenkins Artifactory Plugin used by the templates <a href="https://www.jfrog.com/confluence/display/JFROG/Jenkins+Artifactory+Plug-in" target="_blank">here</a>.<br>