<b>Next steps</b><br>
1. Log into Azure DevOps.<br>
2. Make sure the Artifactory Azure DevOps extension is installed.<br>
3. Configure your JFrog Artifactory instance as a Service Connection in Azure DevOps.<br>
4. In the azure-pipelines.yml file, replace JFROG_INSTANCE with the JFrog Artifactory Service Connection ID you configured in Azure DevOps.<br>
5. Create a new pipeline in Azure DevOps which uses the azure-pipelines.yml file.<br>
<br>
<b>Additional information</b></br>
The CI templates are hosted in the <a href="https://github.com/jfrog/jfrog-ci-templates" target="_blank">github.com/jfrog/jfrog-ci-templates</a> repository.<br>
Read more about the <a href="https://www.jfrog.com/confluence/display/JFROG/Artifactory+Azure+DevOps+Extension" target="_blank">Artifactory Azure DevOps extension</a> used in the template.